.container {
    width: 100%;
    max-width: 480px;
}

.accordion {
    width: 100%;
    max-width: 540px;
    color:white;
    margin-bottom:20px;
    
}

.accordionHeading{
    background-color: #3f475d;
    padding: 0 14px ;
}

.accordionHeading .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordionHeading p {
    letter-spacing: 1.2px;
    font-weight: 600;

}

.accordionHeading span {
    cursor: pointer;
}

.accordionContent.show{
    height: 180px;
    opacity: 1.6;
}

.accordionContent{
    background-color: #383a7f;
    padding: 10px 10px;
    height: 0;
    opacity: 0;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
}

.accordionContent p{
    font-size: 15px;
    line-height:1.6 ;
}

.containerer{
    background-color: rgb(255, 157, 0);
    padding: 10px;
}